<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>

<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %class{36}:%line -%method- %message%n</pattern>
        </encoder>
    </appender>

    <logger name="fr.insee.rmes" level="TRACE" />

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>