# Dependencies
node_modules/

# Environment variables
.env
.env.local

# Netlify
.netlify/
dist/

# Firebase
.firebase/
firebase-debug.log
firebase-debug.*.log
.runtimeconfig.json

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db
