name: Build release candidate

on: 
  release:
    types: [released]

jobs:
  check-version:
    runs-on: ubuntu-latest
    outputs:
      release-version: ${{ steps.version.outputs.version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Check if on main branch
        run: |
          if [[ "${{ github.ref_name }}" =~ ^v?[0-9]+[.][0-9]+[.][0-9]+$ ]]; then
          echo "Le nom de la référence correspond au motif."
          else
            echo "Le nom de la référence ne correspond PAS au motif."
            exit 1
          fi

  docker:
    needs:
      - check-version
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Publish to Docker Hub
        uses: elgohr/Publish-Docker-Github-Action@v5
        with:
          name: inseefr/bauhaus-back-office
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          tags: "latest, ${{ github.event.release.tag_name }}"
          dockerfile: Dockerfile.bauhaus
